<nav class="main-nav">
	<div class="wrapper">
		<a href="{{ site.baseurl }}/" class="main-nav__brand-logo reveal reveal-top">
			<img src="{{ site.baseurl }}/img/brand-logo.png" alt="{{ site.title }}">
		</a>
		<ul class="main-nav__list">
			<li class="main-nav__list-item reveal reveal-right-staggered-250">
				<a href="{{ site.baseurl }}/#" class="main-nav__list-item-link">About Us</a>
			</li>
			<li class="main-nav__list-item reveal reveal-right-staggered-250">
				<a href="{{ site.baseurl }}/#services" class="main-nav__list-item-link">Services</a>
			</li>
	 		<li class="main-nav__list-item reveal reveal-right-staggered-250">
				<a href="{{ site.baseurl }}/blog" class="main-nav__list-item-link">Blog</a>
			</li> 
			<li class="main-nav__list-item reveal reveal-right-staggered-250">
				<a href="{{ site.baseurl }}/#contact" class="main-nav__list-item-link">Contact Us</a>
			</li>
		</ul>		
	</div>

</nav>