<footer class="footer">
    <h2>
        <span class="reveal reveal-top">
        	FourMB Technology
        </span>	
        <br />
        <span class="reveal reveal-top-delay-250 footer-details">
        	Get in touch.
        	<br />
        	Dekocha, Bhaktapur, Nepal
        	<br />
        	team@fourmb.com
        	<br />
        	+977 9843208085 / +977 9843212546
        </span>
        <br />
        <span class="reveal reveal-bottom-delay-250 footer-copyright">&copy; 2017 FourMB Technology. All Rights Reserved.</span>
    </h2>
</footer>

<script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>
<script src="{{ site.baseurl }}/js/reveal.js?version=2.0.0"></script>
<script src="{{ site.baseurl }}/js/app.js?version=2.1.0"></script>